/* === COLORS === */
:root {
	--bg-01: hsl(0, 0%, 13%);
	--bg-02: hsl(0, 0%, 19%);
	--bg-03: hsl(0, 0%, 25%);
	--bg-04: hsl(0, 0%, 31%);
	--bg-05: hsl(0, 0%, 45%);
	--text: hsl(0, 0%, 80%);
	--text-dim: hsl(0, 0%, 50%);

	--accent-green: #00bc8c;
	--accent-green-dark: #009073;

	--accent-blue: #375A7F;
	--accent-blue-light: #3498db;
	--accent-blue-light-dark: #2384c6;
}


/* === BACKGROUNS === */
.wy-body-for-nav, .wy-side-scroll, .wy-nav-side {
	background: var(--bg-01);
}
.rst-versions, .rst-current-version {
	background: unset !important;
}

.wy-nav-content {
	background: var(--bg-02);
}

.wy-side-nav-search {
	background: var(--accent-blue);
}

html {
	scrollbar-color: var(--bg-02) var(--bg-01);
}

/* icon & search bar */
a.icon-home, a.icon-home:visited {
	color: white;
	background: var(--accent-blue-light);
	border-radius: .25rem;
}

a.icon-home:hover {
	background: var(--accent-blue-light-dark);
	text-decoration: none;
}

.wy-form input {
	background: var(--text);
}


/* === TEXTS === */
p, li, h1, h2, h3, h4, h5, h6 {
	color: var(--text);
}

a, a:visited {
	color: var(--accent-green);
}

a:hover {
	color: var(--accent-green-dark);
	text-decoration: underline;
}


/* === TOC === */
.wy-menu-vertical li.toctree-l1 a,
.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l4 a {
	color: var(--text);
	border-right: 2px solid var(--bg-04);
}

.wy-menu-vertical li.toctree-l1.current > a {
	border-top: 1px solid var(--text-dim);
	border-bottom: 1px solid var(--text-dim);
	background: var(--bg-03);
}
.wy-menu-vertical li.toctree-l1.current > a:hover {
	background: var(--bg-04);
}

.wy-menu-vertical li.current a {
	background: var(--bg-02);
}
.wy-menu-vertical li.current a:hover {
	background: var(--bg-03);
}

.wy-menu-vertical li.toctree-l2.current > a {
	background: var(--bg-04);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
	background: var(--bg-03);
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
	background: var(--bg-04);
}

/* The expand icon */
.wy-menu-vertical a span.toctree-expand,
.wy-menu-vertical li.on a span.toctree-expand,
.wy-menu-vertical li.current > a span.toctree-expand {
	color: var(--text-dim);
}
.wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical li.on a:hover span.toctree-expand,
.wy-menu-vertical li.current > a:hover span.toctree-expand {
	color: var(--text);
}


/* === MISC === */

/* images */
img {
	max-height: 20rem;
	max-width: 70% !important;
	display: block;
	margin: 0 auto;
}

/* code blocks */
.rst-content code {
	background: var(--bg-03);
	border-color: var(--bg-04);
}

/* navigation buttons */
a.btn-neutral, a.btn-neutral:visited {
	background: var(--text-dim) !important;
	color: var(--bg-01) !important;
	box-shadow: none;
	text-decoration: none;
	vertical-align: text-top;
}
a.btn-neutral:hover {
	background: var(--text) !important;
}

/* Tables */
.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: var(--bg-05) !important;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th,
.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
	color: var(--text) !important;
}