services:
  client:
    image: solaris-client-dev
    ports:
      - "8080:8080"

  api:
    image: solaris-api-dev
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      CONNECTION_STRING: "mongodb://database:27017/solaris"
      CLIENT_URL: "http://localhost:8080"
      CORS_URLS: "http://localhost:8080"
      SMTP_ENABLED: false
      SERVER_URL: "http://localhost:3000"
      SESSION_SECRET: top_secret
      SESSION_SECURE_COOKIES: false
    depends_on:
      - database
      
  jobs:
    image: solaris-jobs-dev
    environment:
      PORT: 3000
      CONNECTION_STRING: "mongodb://database:27017/solaris"
      CLIENT_URL: "http://localhost:8080"
      CORS_URLS: "http://localhost:8080"
      SMTP_ENABLED: false
      SERVER_URL: "http://localhost:3000"

    depends_on:
      - database

  database:
    image: mongo:7
    volumes:
      - ./database_data:/data/db
    ports:
      - "27017:27017"
