<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h3 class="mt-3">Welcome to Solaris</h3>
        <br/>
        <p>Greetings,</p>
        <br/>
        <p>
            Thanks for signing up to play <span class="text-warning">Solaris</span>! Want to jump right in? We suggest first getting to grips with the game by playing a 
            <span class="text-info">New Player Introduction Game</span>.
        </p>
        <p>
            You can find games by clicking <a href="[{solaris_url_gamelist}]">here</a>.
        </p>
        <br/>
        <p>
            Good luck, and God speed commander!
        </p>
    </div>

    <footer class="text-muted">
        <div class="container">
            <p>
                <a href="[{solaris_url}]" title="Solaris">Solaris</a> |
                <a href="[{source_code_url}]" title="GitHub">Source Code</a>
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>