PORT=3000
SESSION_SECRET=top_secret
SESSION_SECURE_COOKIES=false
CONNECTION_STRING=mongodb://127.0.0.1:27017/solaris
CLIENT_URL=http://localhost:8080
CLIENT_URL_ACCOUNT_SETTINGS=http://localhost:8080/#/account/settings
SERVER_URL=http://localhost:3000
SMTP_ENABLED=false
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_FROM=noreply@example.com
CACHE_ENABLED=true
PAYPAL_CLIENT_ID=ABC_123
PAYPAL_CLIENT_SECRET=ABC_123
PAYPAL_ENVIRONMENT=sandbox|production

# Discord
# if DISCORD_BOT_TOKEN is left empty, the discord bot service is not loaded
DISCORD_BOT_TOKEN=
DISCORD_SERVERID=...
DISCORD_CLIENTID=...
DISCORD_CLIENT_SECRET=...
DISCORD_OAUTH_REDIRECT_URI=...
