PORT=3000
SESSION_SECRET=top_secret
SESSION_SECURE_COOKIES=false
CONNECTION_STRING=mongodb://127.0.0.1:27017/solaris
CLIENT_URL=http://localhost:8080
SMTP_ENABLED=false
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_FROM=noreply@example.com
CACHE_ENABLED=true
GOOGLE_RECAPTCHA_ENABLED=false
GOOGLE_RECAPTCHA_SITE_KEY=ABC_123
GOOGLE_RECAPTCHA_SECRET_KEY=XYZ_456